
#       OS        #
###################
.DS_Store
.idea
Thumbs.db
tmp
temp


#     Node.js     #
###################
node_modules
types-test.js

#       NYC       #
###################
coverage
.nyc_output
